{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{ titulo }}</title>
    {% endblock %}
    {% block basic_css %}
    {% load bootstrap4 %}
    {# CSS Bootstrap #}
    {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'main/css/aula.css' %}">

    {% endblock %}
    {% block extre_css %}
    <link rel="stylesheet" href="{% static 'main/css/pdf/pdfStyles.css' %}">
    {% endblock %}
</head>
<body>

    <div class="container">
        <section class="jumbotron">
            <h1 class="h1 display-4">{{ titulo }}</h1>
            <hr class="my-4">
        </section>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;" scope="col">{% trans 'Nom públic' %}</th>
                        <th style="text-align: center;" scope="col">{% trans 'Nom usuari del grup' %}</th>
                        <th style="text-align: center;" scope="col">{% trans 'Contrasenya' %}</th>
                        <th style="text-align: center;" scope="col">{% trans 'Professor a carrec' %}</th>
                        <th style="text-align: center;" scope="col">{% trans 'Centre' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for g in grupos %}
                    <tr>
                        <td style="text-align: center;">{{ g.nombre_publico_grupo }}</td>
                        <td style="text-align: center;">{{ g.nombre_grupo }}</td>
                        <td style="text-align: center;">{{ g.password_grupo }}</td>
                        <td style="text-align: center;">{{ g.name_profe }}</td>
                        <td style="text-align: center;">{{ g.center }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
        </div>
    </div>




{% bootstrap_javascript jquery='full' %}
</body>
</html>

{% block extra_js %}
<script src="https://kit.fontawesome.com/027a77898a.js" crossorigin="anonymous"></script>
<script src="{% static 'main/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'main/toastr/toastr.min.js' %}"></script>
{% endblock %}