{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block main_jumbo %}{% trans 'Pàgina de registre' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
    <main>
        <div class="col-xs-12" style="height:50px;"></div>
        <div class="container col-md-3 col-md-offset-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="id_username">{% trans 'Nom usuari' %}</label>
                    <input type="text" name="username" required title="" autofocus maxlength="254" class="form-control" placeholder="{% trans 'username' %}" id="id_username" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_password">{% trans 'Password' %}</label>
                    <input type="password" name="password" required title="" class="form-control" placeholder="{% trans 'password' %}" id="id_password" />
                </div>
                {% if form.non_field_errors %}
                <div class="form-group">
                    <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-group">
                    <input role="button" class="btn btn-success" type="submit" value="Login" />
                </div>
            </form>
        </div>
    </main>
{% endblock %}