{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Espai administradors' %}{% endblock %}

{% block main_jumbo %}<img src="{% static 'main/icons/noun_admin_3323392.svg' %}" width="10%">{% trans 'Menú principal administrador' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Centres' %}</h5>
                <img src="{% static 'main/icons/noun_School_1443077.svg' %}" width="25%">
                <p class="card-text">{% trans 'Permet entrar els centres en què els professors imparteixen classe' %}</p>
                <a href="{% url 'center_new' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                <a href="{% url 'center_list' %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Professors' %}</h5>
                <img src="{% static 'main/icons/noun_Teacher_36665.svg' %}" width="25%">
                <p class="card-text">{% trans 'Permet crear un usuari per a un professor.' %}</p>
                <a href="{% url 'teacher_new' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                <a href="{% url 'teacher_list' %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Grups d\'alumnes' %}</h5>
                <img src="{% static 'main/icons/noun_group_737669.svg' %}" width="25%">
                <p class="card-text">{% trans 'Permet crear un grup a partir de varis alumnes' %}</p>
                <a href="{% url 'group_new' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                <a href="{% url 'group_list' %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Proves' %}</h5>
                <img src="{% static 'main/icons/noun_test_3271143.svg' %}" width="25%">
                <p class="card-text">{% trans 'Crea una prova.' %}</p>
                <a href="{% url 'quiz_new' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                <a href="{% url 'quiz_list' %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Veure solucions de proves' %}</h5>
                <img src="{% static 'main/icons/noun_solution_2998552.svg' %}" width="25%">
                <p class="card-text">Veure el progrés d'alumnes i grups.</p>
                <!--<a href="{% url 'quiz_solutions' %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>-->
                <a href="{% url 'quiz_results' %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                <a href="{% url 'upload_file_solutions' %}" class="btn btn-primary"><i class="fas fa-upload"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
