{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'main/select2/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans 'Editar alumne' %}{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <h2><img src="{% static 'main/icons/noun_graduate_66572.svg' %}" width="10%"> {% trans 'Editant alumne' %}:</h2>
    <div class="col-xs-12" style="height:50px;"></div>
    <form id="alum_form" class="form" action="{% url 'alum_update' alum_id %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input role="button" class="btn btn-success mt-2" type="submit" value="Desar" />
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'main/select2/select2.min.js' %}"></script>
<script src="{% static 'main/javascript/alum_edit.js' %}"></script>
{% endblock %}