{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Espai alumne' %}{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="col-xs-12" style="height:20px;"></div>
<div class="container">
    <h2><img src="{% static 'main/icons/noun_group_737669.svg' %}" width="10%"> {% trans 'Menú principal grups' %}:</h2>
</div>
<div class="container">
    <div class="row justify-content-left">
        <div class="col-md-11">
            <p>{% trans 'Hola' %}, {{ user.profile.group_public_name }}!</p>
            <p>{% trans 'El vostre professor assignat és ' %} <strong>{{ user.profile.group_teacher.username }}</strong></p>
        </div>
    </div>
    <div class="row alert alert-success">
        <div class="col-md-12">
            <p><strong>{% trans 'Aquestes són les proves que ja heu acabat (i que podeu repetir, si voleu!)' %}:</strong></p>
            {% if done_quizruns %}
                {% for run in done_quizruns %}
                    <div class="row mt-3">
                        <div class="col-md-3"><strong>{% trans 'Títol' %}</strong>: {{ run.quiz.name }} (intent {{ run.run_number }})</div>
                        <div class="col-md-3"><strong>{% trans 'Començada' %}</strong>: {{ run.date }}</div>
                        <div class="col-md-3"><strong>{% trans 'Finalitzada' %}</strong>: {{ run.date_finished }}</div>
                        <div class="col-md-1"><strong>{% trans 'Puntuació' %}</strong>: {{ run.questions_right }}/{{ run.questions_number }} </div>
                        {% if run.last_run == run.run_number %}
                        <div class="col-md-2">
                            <a title="{% trans 'Repetir la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' run.quiz.id %}" role="button">Repetir <i class="fas fa-undo"></i></a>
                        </div>
                        {% else %}
                        <div class="col-md-2"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans 'Encara no heu acabat cap prova!' %}</p>
                <p><img src="{% static 'main/icons/noun_Lazy_1744915.svg' %}" height="250px"></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 alert alert-info">
            <p><strong>{% trans 'Aquestes són les proves que encara no heu fet' %}:</strong></p>
            {% if available_quizzes %}
                {% for quiz in available_quizzes %}
                    <div class="row mt-3">
                        <div class="col-md-6"><strong>{% trans 'Títol' %}</strong>: {{ quiz.name }}</div>
                        <div class="col-md-6">
                            <a title="{% trans 'Fer la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' quiz.id %}" role="button"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans 'No teniu proves per fer!' %}</p>
                <p><img src="{% static 'main/icons/noun_holidays_2518025.svg' %}" height="250px"></p>
            {% endif %}
        </div>
        <div class="col-md-6 alert alert-info">
            <p><strong>{% trans 'Aquestes són les proves que esteu fent però no heu acabat' %}:</strong></p>
            {% if in_progress_quizruns %}
                {% for run in in_progress_quizruns %}
                    <div class="row mt-3">
                        <div class="col-md-6">{{ run.quiz.name }} (intent {{ run.run_number }})</div>
                        <div class="col-md-6">
                            <a title="{% trans 'Continuar fent la prova!' %}" class="btn btn-success" href="{% url 'quiz_take' run.quiz.id 1 run.id %}" role="button">Continuar <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans 'No teniu proves que calgui acabar!' %}</p>
                <p><img src="{% static 'main/icons/noun_holidays_2518025.svg' %}" height="250px"></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
