{% extends "main/user_sub.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Espai grups' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_group_737669.svg' %}"> {% trans 'Menú principal grups' %}{% endblock %}

{% block main %}
<div class="container">
    <!--
    <div class="row justify-content-left">
        <div class="col-md-11">
            <h5><p>{% trans 'Hola' %}, <span class="badge badge-primary"><strong>{{ user.profile.group_public_name }}</strong></span>!</p></h5>
            <h5><p>{% trans 'El vostre hashtag és ' %} <span class="badge badge-primary"><strong>{{ user.profile.group_hashtag }}</strong></span></p></h5>
            <h5><p>{% trans 'El vostre professor assignat és ' %} <span class="badge badge-primary"><strong>{{ user.profile.group_teacher.username }}</strong></span></p></h5>
        </div>
    </div>
    -->
    <div class="justify-content-left test_container">
        {% for elem in all_quizzes_ordered %}
        <div class="card card_test {{ elem.status }}">
            <div class="card-body">
                <h4 class="card-title"><i>{{ elem.quiz.seq }}</i></h4>
                <hr>
                <p class="card-text">{{ elem.quiz.name }}</p>
                <div class="result_container">
                    {% if elem.quiz.is_test %}
                        {% for d in done_test_scores %}
                        {% if d.id == elem.quiz.id %}
                            <div class="result_wrapper"><strong>{% trans 'Millor puntuació' %}</strong>: {{ d.best_run.questions_right }}/{{ d.best_run.questions_number }}</div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="test_button_container">
                    <!--<div class="test_button_wrapper"><a title="{% trans 'Veure resultats enquesta' %}" class="btn btn-success" href="#" target="_blank" role="button">{% trans 'Resultats' %} <i class="far fa-eye"></i></a></div>
                    <div class="test_button_wrapper"><a title="{% trans 'Repetir la prova!' %}" class="btn btn-success" href="#" role="button">Repetir <i class="fas fa-undo"></i></a></div>
                    <div class="test_button_wrapper"><a title="{% trans 'Fer la prova!' %}" class="btn btn-success" href="#" role="button">Fer <i class="fas fa-cog"></i></a></div>-->
                    {% if elem.status == 'blocked' %}
                        <a title="{% trans 'Aquest material està bloquejat, abans cal fer la prova amb nom' %} '{{ elem.blocked_by.name }}'" class="btn btn-secondary" href="" role="button"><i class="fas fa-lock"></i></a>
                    {% elif elem.status == 'available' %}
                        {% if elem.quiz.is_upload %}
                        <button title="{% trans 'Fer la prova!' %}" data-quiz_id="{{ elem.quiz.id }}" data-taken_by="{{ user.id }}" class="btn btn-success take_upload" role="button"><i class="fas fa-cog" aria-hidden="true"></i></button>
                        {% else %}
                        <div class="test_button_wrapper"><a title="{% trans 'Fer la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' elem.quiz.id %}" role="button"><i class="fas fa-cog"></i></a></div>
                        {% endif %}
                    {% elif elem.status == 'in_progress' %}
                        {% if elem.quiz.is_upload %}
                        <a title="{% trans 'Continuar fent la prova!' %}" class="btn btn-success" href="{% url 'quiz_upload_link' elem.quiz.id %}" role="button">Continuar <i class="fas fa-arrow-right"></i></a>
                        {% else %}
                        <a title="{% trans 'Continuar fent la prova!' %}" class="btn btn-success" href="{% url 'quiz_take' elem.quiz.id 1 elem.quizrun.id %}" role="button">Continuar <i class="fas fa-arrow-right"></i></a>
                        {% endif %}
                    {% elif elem.status == 'done' %}
                        {% if elem.quiz.is_poll %}
                        <div class="test_button_wrapper"><a title="{% trans 'Veure resultats enquesta' %}" class="btn btn-success" href="{% url 'poll_result' elem.quiz.id %}" target="_blank" role="button">{% trans 'Resultats' %} <i class="far fa-eye"></i></a></div>
                        {% elif elem.quiz.is_upload %}
                        <div class="test_button_wrapper"><a title="{% trans 'Descarregar fitxer' %}" class="btn btn-success" href="{{ elem.file_url }}" target="_blank" role="button">Fitxer <i class="fas fa-cloud-download-alt"></i></a></div>
                        {% endif %}
                        {% if elem.repeatable %}
                        <div class="test_button_wrapper"><a title="{% trans 'Repetir la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' elem.quiz.id %}" role="button">Repetir <i class="fas fa-undo"></i></a></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--
    <div class="row alert alert-success done">
        <div class="col-md-12">
            <p><strong>{% trans 'Aquestes són les proves que ja heu acabat (i que podeu repetir, si voleu!)' %}:</strong></p>
            {% if done_quizruns %}
                {% for run in done_quizruns %}
                    {% if run.quiz.is_test %}
                    <div class="row mt-3">
                        <div class="col-md-3"><strong>{% trans 'Títol' %}</strong>: {{ run.quiz.name }} ( {% trans 'intent' %} {{ run.run_number }})</div>
                        <div class="col-md-3"><strong>{% trans 'Començada' %}</strong>: {{ run.date }}</div>
                        <div class="col-md-3"><strong>{% trans 'Finalitzada' %}</strong>: {{ run.date_finished }}</div>
                        <div class="col-md-1"><strong>{% trans 'Puntuació' %}</strong>: {{ run.questions_right }}/{{ run.questions_number }} </div>
                        {% if run.last_run == run.run_number %}
                        <div class="col-md-1">
                            <a title="{% trans 'Repetir la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' run.quiz.id %}" role="button">Repetir <i class="fas fa-undo"></i></a>
                        </div>
                        {% else %}
                        <div class="col-md-1"></div>
                        {% endif %}
                    </div>
                    {% elif run.quiz.is_material %}
                    <div class="row mt-3">
                        <div class="col-md-3"><strong>{% trans 'Títol' %}</strong>: {{ run.quiz.name }}</div>
                        <div class="col-md-3"><strong>{% trans 'Començada' %}</strong>: {{ run.date }}</div>
                        <div class="col-md-3"><strong>{% trans 'Finalitzada' %}</strong>: {{ run.date_finished }}</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <a title="{% trans 'Tornar a veure material' %}" class="btn btn-success" href="{% url 'quiz_browse' run.quiz.id %}" target="_blank" role="button">{% trans 'Repassar' %} <i class="far fa-eye"></i></a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    {% elif run.quiz.is_poll %}
                    <div class="row mt-3">
                        <div class="col-md-3"><strong>{% trans 'Títol' %}</strong>: {{ run.quiz.name }} ( {% trans 'intent' %} {{ run.run_number }})</div>
                        <div class="col-md-3"><strong>{% trans 'Començada' %}</strong>: {{ run.date }}</div>
                        <div class="col-md-3"><strong>{% trans 'Finalitzada' %}</strong>: {{ run.date_finished }}</div>
                        <div class="col-md-1"></div>
                        {% if run.last_run == run.run_number %}
                            {% if run.run_number < user.profile.n_students_in_group %}
                                <div class="col-md-1">
                                    <a title="{% trans 'Repetir la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' run.quiz.id %}" role="button">Repetir <i class="fas fa-undo"></i></a>
                                </div>
                            {% else %}
                                <div class="col-md-1"></div>
                            {% endif %}
                        <div class="col-md-1">
                            <a title="{% trans 'Veure resultats enquesta' %}" class="btn btn-success" href="{% url 'poll_result' run.quiz.id %}" target="_blank" role="button">{% trans 'Resultats' %} <i class="far fa-eye"></i></a>
                        </div>
                        {% else %}
                        <div class="col-md-1"></div>
                        <div class="col-md-1"></div>
                        {% endif %}
                    </div>
                    {% elif run.quiz.is_upload %}
                    <div class="row mt-3">
                        <div class="col-md-3"><strong>{% trans 'Títol' %}</strong>: {{ run.quiz.name }}</div>
                        <div class="col-md-3"><strong>{% trans 'Començada' %}</strong>: {{ run.date }}</div>
                        <div class="col-md-3"><strong>{% trans 'Finalitzada' %}</strong>: {{ run.date_finished }}</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <a title="{% trans 'Descarregar fitxer' %}" class="btn btn-success" href="{{ run.uploaded_file.url }}" target="_blank" role="button">Fitxer <i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>{% trans 'Encara no heu acabat cap prova!' %}</p>
                <p><img src="{% static 'main/icons/noun_Lazy_1744915.svg' %}" height="250px"></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 alert alert-info todo">
            <p><strong>{% trans 'Aquestes són les proves que encara no heu fet' %}:</strong></p>
            {% if available_quizzes %}
                {% for quiz in available_quizzes %}
                    <div class="row mt-3">
                        <div class="col-md-6"><strong>{% trans 'Títol' %}</strong>: {{ quiz.name }}</div>
                        <div class="col-md-6 done_quizzes">
                            {% if quiz.requisite %}
                                {% if quiz.requisite.id in done_quizzes_ids %}
                                    {% if quiz.is_upload %}
                                    <button title="{% trans 'Fer la prova!' %}" data-quiz_id="{{ quiz.id }}" data-taken_by="{{ user.id }}" class="btn btn-success take_upload" role="button"><i class="fas fa-cog" aria-hidden="true"></i></button>
                                    {% else %}
                                    <a title="{% trans 'Fer la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' quiz.id %}" role="button"><i class="fas fa-cog" aria-hidden="true"></i></a>
                                    {% endif %}
                                {% else %}
                                    <a title="{% trans 'Aquest material està bloquejat, abans cal fer la prova amb nom' %} '{{ quiz.requisite.name }}'" class="btn btn-secondary" href="" role="button"><i class="fas fa-lock"></i></a>
                                {% endif %}
                            {% else %}
                                {% if quiz.is_upload %}
                                <button title="{% trans 'Fer la prova!' %}" data-quiz_id="{{ quiz.id }}" data-taken_by="{{ user.id }}" class="btn btn-success take_upload" role="button"><i class="fas fa-cog" aria-hidden="true"></i></button>
                                {% else %}
                                <a title="{% trans 'Fer la prova!' %}" class="btn btn-success" href="{% url 'quiz_take_splash' quiz.id %}" role="button"><i class="fas fa-cog" aria-hidden="true"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans 'No teniu proves per fer!' %}</p>
                <p><img src="{% static 'main/icons/noun_holidays_2518025.svg' %}" height="250px"></p>
            {% endif %}
        </div>
        <div class="col-md-6 alert alert-info doing">
            <p><strong>{% trans 'Aquestes són les proves que esteu fent però no heu acabat' %}:</strong></p>
            {% if in_progress_quizruns %}
                {% for run in in_progress_quizruns %}
                    <div class="row mt-3">
                        <div class="col-md-6">{{ run.quiz.name }} (intent {{ run.run_number }})</div>
                        <div class="col-md-6">
                            {% if run.quiz.is_upload %}
                            <a title="{% trans 'Continuar fent la prova!' %}" class="btn btn-success" href="{% url 'quiz_upload_link' run.quiz.id %}" role="button">Continuar <i class="fas fa-arrow-right"></i></a>
                            {% else %}
                            <a title="{% trans 'Continuar fent la prova!' %}" class="btn btn-success" href="{% url 'quiz_take' run.quiz.id 1 run.id %}" role="button">Continuar <i class="fas fa-arrow-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans 'No teniu proves que calgui acabar!' %}</p>
                <p><img src="{% static 'main/icons/noun_holidays_2518025.svg' %}" height="250px"></p>
            {% endif %}
        </div>
    </div>
    -->
</div>
</div>
{% if campaign.html_header_groups %}
<hr>
<div class="container">
    {{ campaign.html_header_groups |safe }}
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script>
    var _run_create_url = '{% url 'api_startrun' %}';
</script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/cookies.js' %}"></script>
<script src="{% static 'main/javascript/alum_hub.js' %}"></script>
{% endblock %}
