{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Canviar password' %}{% endblock %}

{% block main_jumbo %}{% trans 'Canvi de password' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <div class="col-xs-12" style="height:50px;"></div>
    <form class="form" action="{% url 'change_password' edited_user.id %}" method="post">
        <h4 class="error">{% trans 'Atenció! estàs canviant el password de l&#39;usuari' %} {{ edited_user.username }}</h4>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="container">
            <div class="form-errors"></div>
        </div>
        <input role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Canviar password' %}" />
    </form>
</div>
{% endblock %}
