{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/jquery.fileupload-ui.css' %}" rel="stylesheet">
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/jquery.fileupload.css' %}" rel="stylesheet">
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/style.css' %}" rel="stylesheet">
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/github/blueimp-gallery.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Editar grup{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <h2>Editant grup:</h2>
    <div class="col-xs-12" style="height:50px;"></div>
    <form class="form" action="{% url 'group_update' group_id %}" method="post">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <div id="div_id_password1" class="form-group">
          <label for="id_password1" class=" requiredField">
              Password (Es recomana un password curt, de 4 caràcters:)<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="text" name="password1" value="{{ group_password }}" autocomplete="new-password" class="form-control textinput textInput form-control" maxlength="4" required id="id_password1">
          </div>
        </div>
        <div id="div_id_group_public_name" class="form-group">
          <label for="id_group_public_name" class=" requiredField">
              Nom públic del grup<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="text" name="group_public_name" value="{{ group_public_name }}" class="form-control textinput textInput form-control" maxlength="150" required id="id_group_public_name">
          </div>
        </div>
        <div id="file_upload_div" class="form-group">
            <label>Imatge del grup:</label>
            <input id="fileupload" type="file" name="camp_foto" style="display: none" data-url="{% url 'uploadpic' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
            <table id="gallery" class="table table-bordered" style="margin-top: 15px;">
                <tbody>
                    {% if photo_path %}
                      <tr>
                          <td>
                            <a target="_blank" href="{{ photo_path }}"><img style="height: 150px;" src="{{ photo_path }}"></a>
                          </td>
                          <td>
                            <a href="#" class="btn btn-danger btn-sm btn-del btn-del-img imatgeRodal deleteFoto">Eliminar</a>
                          </td>
                      </tr>
                    {% endif %}
                </tbody>
            </table>
            <button type="button" class="btn btn-primary js-upload-photos">
                <span class="glyphicon glyphicon-cloud-upload"></span>Afegir foto
            </button>
        </div>
        <input id="id_photo_path" type="hidden" name="photo_path" value="{{ photo_path }}">
        <input role="button" class="btn btn-success mt-2" type="submit" value="Desar" />
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'main/javascript/utils.js' %}"></script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/jQuery-File-Upload-9.28.0/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'main/jQuery-File-Upload-9.28.0/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'main/jQuery-File-Upload-9.28.0/js/jquery.fileupload.js' %}"></script>
<script src="{% static 'main/javascript/group_edit.js' %}"></script>
{% endblock %}
