{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/jquery.fileupload-ui.css' %}" rel="stylesheet">
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/jquery.fileupload.css' %}" rel="stylesheet">
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/style.css' %}" rel="stylesheet">
<link href="{% static 'main/jQuery-File-Upload-9.28.0/css/github/blueimp-gallery.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}{% trans 'Editar grup' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_group_737669.svg' %}"> {% trans 'Editant grup' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <form id="group_form" class="form" action="{% url 'group_update' group_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <div id="div_id_password1" class="form-group mb-2">
          <label for="id_password1" class=" requiredField">
              {% trans 'Password (Es recomana un password curt, de 4 caràcters)' %}<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="text" name="password1" value="{{ group_password }}" autocomplete="new-password" class="form-control textinput textInput form-control" maxlength="4" required id="id_password1">
          </div>
        </div>
        <div id="div_id_group_public_name" class="form-group mb-2">
          <label for="id_group_public_name" class=" requiredField">
              {% trans 'Nom públic del grup' %}<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="text" name="group_public_name" value="{{ group_public_name }}" class="form-control textinput textInput form-control" maxlength="150" required id="id_group_public_name">
          </div>
        </div>
        <div id="div_id_group_class" class="control-group mb-2">
            <label for="id_group_class" class="control-label "> {% trans 'Nom de la classe (es fa servir per filtrar)' %}</label>
            <div class="controls">
                <input type="text" name="group_class" value="{{ group_class|default_if_none:'' }}" class="form-control textinput textInput" id="id_group_class">
            </div>
        </div>
        <div id="div_id_n_students_in_group" class="control-group mb-2">
          <label for="id_n_students_in_group" class="control-label requiredField">
            {% trans 'Nombre estudiants al grup' %}<span class="asteriskField">*</span>
          </label>
          <div class="controls">
            <input type="number" name="n_students_in_group" value="{{ n_students_in_group }}" class="form-control numberinput" required="" id="id_n_students_in_group">
          </div>
        </div>
        <div class="row">
        <div class="control-group col-md-9 mb-2">
            {{ form_photo.group_picture }}
        </div>
        <div class="control-group col-md-3 mb-2">
            <img id="img_preview" src="{{ photo_path }}" width="100%">
        </div>
        </div>
        <!--<div class="row">
            <div class="col-md-6">
                <div class="controls">
                {{ form_photo.group_picture|as_crispy_field }}
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-6">
                <label for="center">{% trans 'Centre' %}:</label>
                <select id="center" class="form-control">
                    <option value="-1" selected>{% trans 'Tria' %}...</option>
                    {% for center in centers %}
                    <option value="{{ center.id }}">{{ center.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div  id="selected_tutor" class="col-md-6">
                <label for="tutor">{% trans 'Tutor' %}:</label>
                <select id="tutor" class="form-control">
                    <option selected>{% trans 'Tria centre' %}...</option>
                </select>
            </div>
        </div>
        <input id="group_teacher" type="hidden" name="group_teacher" value="{{ tutor }}">
        <input id="group_center" type="hidden" name="group_center" value="{{ center }}">
        <input role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Desar' %}" />
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'main/javascript/utils.js' %}"></script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/jQuery-File-Upload-9.28.0/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'main/jQuery-File-Upload-9.28.0/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'main/jQuery-File-Upload-9.28.0/js/jquery.fileupload.js' %}"></script>
<script src="{% static 'main/javascript/group_edit.js' %}"></script>
{% endblock %}
