{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Index Aula' %}{% endblock %}

{% block main_jumbo %}{% trans 'Benvingut a Aula' %}{% endblock %}
{% block sub_jumbo %}{% trans 'Aquesta és la web per a un projecte d&#39;educació en el context d&#39;una beca FECYT' %}{% endblock %}

{% block main %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-2">
            <img style="max-height: 150px;" src="{% static 'main/icons/noun_Teacher_1429557.svg' %}">
        </div>
        <div class="col-md-10">
            <h2>{% trans 'El meu espai' %}</h2>
            <p>{% trans 'Fes clic al botó "Entrar" per accedir al teu espai. L&#39;aplicatiu et demanarà un nom d&#39;usuari i password i et redirigirà al teu menú principal, segons siguis un usuari de grup, usuari de professor, o bé usuari administrador' %}</p>
            <p><a class="btn btn-success" href="{% url 'my_hub' %}" role="button">Entrar</a></p>
        </div>
        <!--
        <div class="col-md-2">
            <img src="{% static 'main/icons/noun_Teacher_36665.svg' %}">
        </div>
        <div class="col-md-10">
            <h2>{% trans 'Espai professorat' %}</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="{% url 'teacher_menu' %}" role="button">Entrar &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <img src="{% static 'main/icons/noun_graduate_66572.svg' %}">
        </div>
        <div class="col-md-2">
            <img src="{% static 'main/icons/noun_admin_3323392.svg' %}">
        </div>
        <div class="col-md-10">
            <h2>{% trans 'Espai administradors' %}</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="{% url 'admin_menu' %}" role="button">Entrar &raquo;</a></p>
        </div>
        -->
    </div>
    <!--<hr>-->
</div> <!-- /container -->
{% endblock %}
