{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Error' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_cheeky_2171565.svg' %}">{% trans 'Operació no permesa!' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'main/icons/noun_cheeky_2171565.svg' %}">
        </div>
        <div class="col-md-8 my-auto">
            <h2 style="color:red;">{{ error_message }}</h2>
            <h2>{% trans 'Tornaràs a l&#39;inici en' %} <span class="timer">5</span> {% trans 'segons, o si no pots fer clic' %} <a href="{% url go_back_to %}">{% trans 'aquí' %}</a></h2>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    var url_go_back_to = "{% url go_back_to %}";
</script>
<script src="{% static 'main/javascript/no_permission.js' %}"></script>
{% endblock %}
