{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/icons/favicon.ico' %}"/>
    <style>
        #map {
            width: 100%;
            height: 800px;
        }
    </style>
<!--    <link href="{% static 'main/bootstrap-4.3.1/css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'main/jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/aula.css' %}" rel="stylesheet">
    {% block extra_css %}
    <link href="{% static 'main/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'main/Leaflet.Draw.static/src/leaflet.draw.css' %}" rel="stylesheet">
    <link href="{% static 'main/leaflet_popup_sidebar/css/leaflet-sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% endblock %}
    <title>{% block title %}{% trans 'Aula' %}{% endblock %}</title>
<!--    <link href="{% static 'main/toastr/toastr.min.css' %}" rel="stylesheet">-->
</head>
<body>
<main role="main">
{% block main %}
<div id="map"></div>
{% endblock %}
</main>
<script src="{% static 'main/jquery/jquery-3.5.1.min.js' %}"></script>
<!--<script src="{% static 'main/bootstrap-4.3.1/js/bootstrap.bundle.min.js' %}"></script>-->
<script src="https://kit.fontawesome.com/027a77898a.js" crossorigin="anonymous"></script>
<script src="{% static 'main/jquery-ui/jquery-ui.min.js' %}"></script>
<!--<script src="{% static 'main/toastr/toastr.min.js' %}"></script>-->
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script>
    {% get_current_language as LANGUAGE_CODE %}
    var currentLang = '{{ LANGUAGE_CODE }}';
    var admin_edit = {% if user.is_superuser and user.is_staff or user.profile.is_teacher %}true{% else %}false{% endif %};
    var _center_data = JSON.parse('{{ centers | escapejs }}');
    var _school_icon_url = "{% static 'main/icons/school_marker.png' %}";
    var _selected_school_icon_url = "{% static 'main/icons/selected_school_marker.png' %}";
    var center_info_url = "{% url 'center_info' %}";
</script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/leaflet/leaflet.js' %}"></script>
<script src="{% static 'main/leaflet_popup_sidebar/js/leaflet-sidebar.js' %}"></script>
<script src="{% static 'main/javascript/map.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
