<hr>
<div class="card">
  <!--<div class="card-image">
    <figure class="image is-4by3">
      <img style="background-color: #FFA07A; padding: 2px;" src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>-->
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img style="background-color: #FFA07A; padding: 2px;" width="96" src="/static/main/icons/noun_School_1443077.svg" alt="">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ center_name }}</p>
        <p class="subtitle is-6"><i>Hashtag del centro - {{ hashtag }}</i></p>
      </div>
    </div>

    <div class="content">
        <ul>
            {% if participation_years %}
            <li>Años de participación: {{ participation_years }}</li>
            {% endif %}
            <li>Puntos de cría: <b>{{ n_points_total }}</b></li>
            <ul>
                <li><img src="/static/main/icons/marker_site_water.svg"> Imbornales con agua: {{ n_points_water }}</li>
                <li><img src="/static/main/icons/marker_site_dry.svg"> Imbornales secos: {{ n_points_dry }}</li>
                <li><img src="/static/main/icons/marker_site_other.svg"> Otros puntos de cría: {{ n_points_other }}</li>
            </ul>
            <li><img src="/static/main/icons/noun_group_737669.svg" width="40"> Número de grupos: <b>{{ n_groups }}</b></li>
            <li><img src="/static/main/icons/noun_graduate_66572.svg" width="40"> Número de alumnos: <b>{{ n_students }}</b></li>
        </ul>
    </div>
  </div>
</div>
