{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Afegir preguntes a una prova{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <br class="form" action="{% url 'question_new' quiz.id %}" method="post">
        {% csrf_token %}
        <h2>Nom de la prova:</h2>
        <p>{{ quiz.name }}</p>
        <h3>Pregunta:</h3>
        <div class="form-row">
            <label for="num_question">Número de pregunta</label>
            <input class="form-control" id="num_question" placeholder="Ordre de la pregunta dins la prova">
        </div>
        <div class="form-row">
            {{ form|crispy }}
        </div>
        <h3>Respostes:</h3>
        <div id="answers">
        </div>
        <button id="add_resposta" class="btn btn-info mt-2"><i class="fas fa-plus"></i></button><br/>
        <input role="button" class="btn btn-success mt-2" type="submit" value="Desar" />
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'main/mustache/mustache.js' %}"></script>
<script id="row_template" type="text/template">
    <div id="{% verbatim %}{{ row_id }}{% endverbatim %}" class="form-inline answer-row" style="margin-top:10px;">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Etiqueta</span>
            </div>
            <input id="{% verbatim %}label_{{ row_id }}{% endverbatim %}" class="form-control answer_label">
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Text de la resposta</span>
            </div>
            <textarea id="{% verbatim %}text_{{ row_id }}{% endverbatim %}" rows=5 class="form-control answer_text" aria-label="Text de la resposta"></textarea>
        </div>

        <div class="form-check mb-2 mr-sm-2">
            <input id="{% verbatim %}correct_{{ row_id }}{% endverbatim %}" class="form-check-input answer_correct" type="checkbox">
            <label class="form-check-label">Resposta correcta?</label>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <button id="{% verbatim %}delete_{{ row_id }}{% endverbatim %}" class="answer_delete btn btn-danger"><i class="fas fa-backspace"></i></button>
        </div>
    </div>
</script>
<script src="{% static 'main/javascript/question_editor.js' %}"></script>
<script src="{% static 'main/javascript/question_new.js' %}"></script>
{% endblock %}
