{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Editar les preguntes i respostes d\'una enquesta' %}{% endblock %}

{% block main_jumbo %}{% trans 'Editant pregunta (i respostes)' %}{% endblock %}
{% block sub_jumbo %}{% trans 'Aquesta pertany a la prova amb nom' %} <strong>{{ question.quiz.name }}</strong>{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <form id="question_form" action="{% url 'question_update' question.id %}" method="post">
        {% csrf_token %}
        <h3><img src="{% static 'main/icons/noun_Question_3611223.svg' %}" width="5%"> {% trans 'Pregunta' %}:</h3>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.question_order|as_crispy_field }}
          </div>
          <div class="form-group col-md-9 mb-0">
            {{ form.text|as_crispy_field }}
          </div>
        </div>
        {{ form.answers_json }}
        <h3><img src="{% static 'main/icons/noun_Response Message_356176.svg' %}" width="5%"> {% trans 'Respostes' %}:</h3>
        <div id="answers">
        </div>
        <div id="general_errors"></div>
        <input type="hidden" name="question_id" value="{{ question.id }}">
        <button type="button" id="add_resposta" class="btn btn-info mt-2"><i class="fas fa-plus"></i></button><br>
        <input role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Desar' %}"/>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'main/mustache/mustache.js' %}"></script>
<script id="row_template" type="text/template">
    <div id="{% verbatim %}{{ row_id }}{% endverbatim %}" class="form answer-row" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Etiqueta</span>
                    </div>
                    <input id="{% verbatim %}label_{{ row_id }}{% endverbatim %}" class="form-control answer_label">
                </div>

                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Text de la resposta</span>
                    </div>
                    <textarea id="{% verbatim %}text_{{ row_id }}{% endverbatim %}" rows=4 class="form-control answer_text" aria-label="Text de la resposta"></textarea>
                </div>

            </div>
            <div class="col-md-2">
                <div class="input-group mb-2 mr-sm-2">
                    <button id="{% verbatim %}delete_{{ row_id }}{% endverbatim %}" class="answer_delete btn btn-danger"><i class="fas fa-backspace"></i></button>
                </div>
            </div>
        </div>
        <hr>
    </div>
</script>
<script>
    var init_answers_text = '{{ json_answers|safe }}';
    try{
        init_answers = JSON.parse(init_answers_text);
    }catch(error){
        init_answers = [];
    }
</script>
<script src="{% static 'main/javascript/question_editor.js' %}"></script>
<script src="{% static 'main/javascript/question_poll_edit.js' %}"></script>
{% endblock %}

