{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Crear prova' %}{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <form class="form" action="{% url 'quiz_new' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <img src="{% static 'main/icons/noun_test_3271143.svg' %}" width="10%">
            <label for="{{ form.name.id_for_label }}">{% trans 'Nom de la prova' %}:</label>
            {{ form.name }}
            {{ form.name.errors }}
            <input role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Desar' %}" />
        </div>
    </form>
</div>

{% endblock %}
