{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<style>
    .disabled {
        filter: invert(0.70);
        pointer-events: none;
    }

    .icon_right {
        background-image: url({% static 'main/icons/noun_Arrow Right_1094195.svg' %});
    }

    .icon_left {
        background-image: url({% static 'main/icons/noun_Left_1094193.svg' %});
    }

    .icon_success{
        background-image: url({% static 'main/icons/success.svg' %});
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .icon_fail{
        background-image: url({% static 'main/icons/fail.svg' %});
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    #status {
        height: 50px;
    }

    .icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        background-size: cover;
    }
    .progress {
        height: 40px !important;
    }
</style>
<style>
    /*progressbar*/
    #progressbar {
      margin-bottom: 30px;
      overflow: hidden;
      /*CSS counters to number the steps*/
      counter-reset: step;
    }
    #progressbar li {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 9px;
      /*width: 25%;*/
      float: left;
      position: relative;
      text-align: center;
    }
    #progressbar li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3px;
      margin: 0 auto 5px auto;
    }
    /*progressbar connectors*/
    #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1; /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
      /*connector not needed before the first step*/
      content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before,  #progressbar li.active:after{
      background: #27AE60;
    }

    .progress_done {
        background-image: url({% static 'main/icons/success.svg' %});
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    .progress_pending {
        background-image: url({% static 'main/icons/fail.svg' %});
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
    }
</style>
{% endblock %}
{% block title %}{% trans 'Realitzant prova' %}{% endblock %}

{% block main_jumbo %}{% trans 'Estàs fent la prova' %} - {{ quiz.name }}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <!--<div class="row mb-3">
        <div class="progress col-md-12">
            <div class="progress-bar" role="progressbar" style="width: {{ current_progress }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{% trans 'Pregunta' %} {{ question.question_order }} {% trans 'de' %} {{ questions_total }}</div>
        </div>
    </div>-->
    <div class="row mb-3">
        <div class="col-md-12">
            <ul id="progressbar">
                {% for q in questions %}
                {% if q.question_order <= question.question_order %}
                <!--<li class="active" style="width: {{ step_width }}%;"><a href="{% url 'quiz_take' quiz.id q.question_order quiz_run.id %}">Pregunta {{ q.question_order }}</a> {% if q.id in completed_questions_list %} <img src="{% static 'main/icons/success.svg' %}" width="20px"> {% else %} <img src="{% static 'main/icons/fail.svg' %}" width="20px"> {% endif %} </li>-->
                <li class="active" style="width: {{ step_width }}%;"><a href="{% url 'quiz_take' quiz.id q.question_order quiz_run.id %}">Pregunta {{ q.question_order }}</a> {% if q.id in completed_questions_list %} <div id="question_{{ q.id }}" class="progress_done"></div> {% else %} <div id="question_{{ q.id }}" class="progress_pending"></div> {% endif %} </li>
                {% else %}
                <!--<li style="width: {{ step_width }}%;"><a href="{% url 'quiz_take' quiz.id q.question_order quiz_run.id %}">Pregunta {{ q.question_order }}</a> {% if q.id in completed_questions_list %} <img src="{% static 'main/icons/success.svg' %}" width="20px"> {% else %} <img src="{% static 'main/icons/fail.svg' %}" width="20px"> {% endif %} </li>-->
                <li style="width: {{ step_width }}%;"><a href="{% url 'quiz_take' quiz.id q.question_order quiz_run.id %}">Pregunta {{ q.question_order }}</a> {% if q.id in completed_questions_list %} <div id="question_{{ q.id }}" class="progress_done"></div> {% else %} <div id="question_{{ q.id }}" class="progress_pending"></div> {% endif %} </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if question.question_picture %}
    <div class="row" style="margin-bottom: 40px;">
        <div class="offset-md-2 col-md-8" style="height: auto;">
            <a target="_blank" href="/media/{{ question.question_picture }}">
                <img class="img-fluid" style="display: block; margin: auto;" src="/media/{{ question.question_picture }}">
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-1 my-auto">
            {% if previous_question %}
                <a class="icon icon_left" href="{% url 'quiz_take' quiz.id previous_question.question_order quiz_run.id %}"></a>
            {% else %}
                <a class="icon icon_left disabled" href="#"></a>
            {% endif %}
        </div>
        <div class="col-md-10">
            <div id="question_{{ question.id }}" class="mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p><strong>{{ question.question_order }}.</strong> <i>{{ question.text }}</i> </p>
                        </div>
                    </div>
                </div>
                {% if question.doc_link %}
                    <div class="row">
                        <div class="col-md-12">
                            <input role="button" class="btn btn-success open-link mt-2" data-id="{{ question.id }}" data-link="{{ question.doc_link }}" type="button" value="{% trans 'Fes clic per obrir l\'enllaç' %}"/>
                        </div>
                    </div>
                {% else %}
                    {% for answer in question.sorted_answers_set %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ml-5">
                                <input type="radio" data-questionid="{{ question.id }}" name="answers" value="{{answer.id}}" class="form-check-input answer_correct"> <p>{{ answer.label }}) {{ answer.text }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-1 my-auto">
            <!--<a class="disabled" href="#" type="button"><img src="{% static 'main/icons/noun_Arrow Right_1094195.svg' %}"></a>-->
            {% if next_question %}
                <a class="icon icon_right" href="{% url 'quiz_take' quiz.id next_question.question_order quiz_run.id %}"></a>
            {% else %}
                <a class="icon icon_right disabled" href=""></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-1 mx-auto">
            <div id="status" class="{% if question.id in completed_questions_list %} icon_success {% else%} icon_fail {% endif %}"></div>
        </div>
    </div>
    <div class="row end_button" style="{%if not quiz_run_done %}display:none;{% endif %}">
        <div class="mx-auto">
            <button id="done-button" role="button" class="btn btn-success mt-2">{% trans 'Has completat el material! Fes clic en aquest botó per acabar...' %}</button>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    var _post_answer_url = '{% url 'api_writeanswer' %}';
    var _finish_quiz_url = '{% url 'api_finishquiz' %}';
    var _summary_run_finish_url = '{% url 'quiz_take_endsummary' quiz_run.id %}';
    var quiz_id = {{ quiz.id }};
    var run_id = {{ quiz_run.id }};
    var selected_radio_id;
    var completed = false;
    var user_input = {};
    {% if user_input %}
    user_input.id = {{ user_input.id }};
    user_input.question_id = {{ user_input.question.id }};
    user_input.quizrun_id = {{ user_input.quizrun.id }};
    {% endif %}
    {% if user_input.answered %}
    user_input.answered = true;
    {% else %}
    user_input.answered = false;
    {% endif %}
    {% if user_input.chosen_answer_id %}
    user_input.chosen_answer_id = {{ user_input.chosen_answer_id }};
    {% endif %}
    var all_questions_answered = false;
    {% if all_questions_answered %}
    all_questions_answered = true;
    {% endif %}
</script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/cookies.js' %}"></script>
<script src="{% static 'main/javascript/quiz_take.js' %}"></script>
{% endblock %}