{% extends "main/user_sub.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<style>
    .confetti{
        position: absolute;
        left:0px;
        top:15%;
        width: 100%;
    }
</style>
{% endblock %}
{% block title %}{% trans 'Prova finalitzada, resultats' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_finish_2079079.svg' %}" width="10%">{% trans 'Prova finalitzada!' %}{% endblock %}

{% block main %}
<div class="container">
    <canvas class="confetti" id="emitter"></canvas>
    <div class="row">
        <ul>
            <li>{% trans 'Vas començar la prova el' %} <i>{{ quizrun.date }}</i></li>
            <li>{% trans 'I la vas acabar el' %} <i>{{ quizrun.date_finished }}</i></li>
            {% if n_runs > 1 %}
            <li>{% trans 'Ja havies fet aquesta prova' %} {{ past_runs }} {% trans 'vegades' %}, {% trans 'aquest és l&#39;intent' %} {{ n_runs }}</li>
            {% else %}
            <li>{% trans 'Era la primera vegada que feies aquesta prova' %}</li>
            {% endif %}
        </ul>
    </div>
    {% if quizrun.quiz.is_test %}
    <div class="row">
        <h2>{% trans 'La teva puntuació és' %}:</h2>
    </div>
    <div class="row">
        <div class="col-md-12 alert alert-success"><h1><p class="text-center">{{ quizrun.questions_right }} {% trans 'de' %} {{ quizrun.questions_number }} {% trans 'respostes correctes' %}!</p></h1></div>
    </div>
    {% elif quizrun.quiz.is_material %}
    <div class="row">
        <h2>{% trans 'Has completat el material!' %}:</h2>
    </div>
    <div class="row">
        <div class="col-md-12 alert alert-success"><h1><p class="text-center">{% trans 'Si vols accedir al material més tard, el tens disponible al Menú principal' %}</p></h1></div>
    </div>
    {% elif quizrun.quiz.is_poll %}
    <div class="row">
        <h2>{% trans 'Has completat l&#39;enquesta!' %}:</h2>
    </div>
    <div class="row">
        <div class="col-md-12 alert alert-success"><h1><p class="text-center">{% trans 'Pots veure els resultats de l&#39;enquesta al Menú principal' %}</p></h1></div>
    </div>
    {% elif quizrun.quiz.is_upload %}
    <div class="row">
        <h2>{% trans 'Has pujat el fitxer!' %}:</h2>
    </div>
    <div class="row">
        <div class="col-md-12 alert alert-success"><h1><p class="text-center">{% trans 'Si vols accedir al material més tard, el tens disponible al Menú principal' %}</p></h1></div>
    </div>
    {% endif %}
    <div class="col-xs-12" style="height:20px;"></div>
    <h2>{% trans 'Ara pots' %}:</h2>
    <div class="row">
        {% if quizrun.quiz.is_test %}
        <div class="col-md-4 text-center mt-1"><button id="repeat-button" role="button" class="btn btn-success">{% trans 'Repetir la prova ' %} <i class="fas fa-undo" aria-hidden="true"></i></button></div>
        <div class="col-md-4 text-center mt-1"><a class="btn btn-success" href="{% url 'group_menu' %}" role="button">{% trans 'Tornar a l&#39;inici' %}</a></div>
        <div class="col-md-4 text-center mt-1"><button id="confetti-button" role="button" class="btn btn-success">{% trans 'Llençar més confetti! ' %}</i></button></div>
        {% else %}
            {% if request.user.profile.is_teacher %}
                <div class="col-md-6 text-center mt-1"><a class="btn btn-success" href="{% url 'teacher_menu' %}" role="button">{% trans 'Tornar a l&#39;inici' %}</a></div>
            {% else %}
                <div class="col-md-6 text-center mt-1"><a class="btn btn-success" href="{% url 'group_menu' %}" role="button">{% trans 'Tornar a l&#39;inici' %}</a></div>
            {% endif %}
        <div class="col-md-6 text-center mt-1"><button id="confetti-button" role="button" class="btn btn-success">{% trans 'Llençar més confetti! ' %}</i></button></div>
        {% endif %}

    </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- https://github.com/catdad/canvas-confetti -->
<script src="{% static 'main/confetti.browser.min.js' %}"></script>
<script src="{% static 'main/javascript/quiz_take_endsummary.js' %}"></script>
{% endblock %}
