{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Realitzar prova' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_starting_1512102.svg' %}">{% trans 'Inici de prova' %} - {{ quiz.name }}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <ul>
                <li>{% trans 'Total de preguntes de la prova' %}: <strong>{{ questions_total }}</strong></li>
                {% if last_quizrun %}
                <li>{% trans 'Ja havies fet aquesta prova' %} <strong>{{ last_quizrun.n_runs }} {% trans 'vegades' %}</strong></li>
                <li>{% trans 'La darrera vegada vas obtenir una puntuació de' %} <strong>{{ last_quizrun.questions_right }} {% trans 'preguntes correctes sobre' %} {{ last_quizrun.questions_number }}</strong></li>
                {% else %}
                <li>{% trans 'Aquesta és la primera vegada que fas aquesta prova. Molta sort!' %}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-5">
            <img src="{% static 'main/icons/noun_starting_1512102.svg' %}">
        </div>
        <div class="col-md-7 my-auto">
            <!--<a href="{% url 'quiz_take' quiz.id 1 %}" class="btn btn-success btn-lg btn-block" type="button">{% trans 'Començar!' %}</a>-->
            <button id="start_quiz" title="{% trans 'Començar!' %}" class="btn btn-success btn-lg btn-block">{% trans 'Començar!' %}</button>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    var quiz_id = {{ quiz.id }};
    var taken_by = {{ request.user.id }};
    var _run_create_url = '{% url 'api_startrun' %}';
    var current_run = {% if last_quizrun %}{{ last_quizrun.next_run }}{% else %}1{% endif %};
</script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/cookies.js' %}"></script>
<script src="{% static 'main/javascript/quiz_take_splash.js' %}"></script>
{% endblock %}
