{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
<link rel="stylesheet" href="{% static 'main/css/quiz_edit.css' %}">
{% endblock %}
{% block title %}{% trans 'Editar prova' %}{% endblock %}

{% block main_jumbo %}<img src="{% static 'main/icons/noun_test_3271143.svg' %}" width="10%"> {% trans 'Editant prova' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    {% if quiz.taken_by_n_people > 0 %}
    <div class="alert alert-danger" role="alert">
        {{ quiz.taken_by_n_people }} grups ja han completat aquesta prova!
    </div>
    {% endif %}
    {% if quiz.published %}
    <div class="alert alert-danger" role="alert">
        <strong><i class="fas fa-exclamation-triangle"></i> {% trans 'ATENCIÓ: estàs editant una prova publicada. La modificació de qualsevol camp (a part del nom) pot tenir conseqüències no desitjades! Fes-ho només si tens molt clar el que estàs fent!' %}</strong>
    </div>
    {% endif %}
    <form class="form" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <img src="{% static 'main/icons/noun_test_3271143.svg' %}" width="5%">
            <label for="{{ form.name.id_for_label }}">{% trans 'Nom de la prova' %}:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        {% if request.user.is_superuser %}
        <div class="form-group mb-3">
            <img src="{% static 'main/icons/noun_Teacher_36665.svg' %}" width="5%">
            <label for="{{ form.author.id_for_label }}">{% trans 'Autor de la prova' %}:</label>
            {{ form.author }}
            {{ form.author.errors }}
        </div>
        {% endif %}
        <div class="form-group mb-3">
            <label for="id_req">{% trans 'Requisits per fer aquesta prova' %}:</label>
            <select name="id_req" class="form-control" required id="id_req">
                <option value="-1">--------</option>
            </select>
        </div>
        {{ form.requisite }}
        <div class="form-group mb-3">
            <label for="{{ form.type.id_for_label }}">{% trans 'Tipus de material' %}:</label>
            {{ form.type }}
            {{ form.type.errors }}
        </div>
        <div class="form-check mb-3">
            {{ form.published }}
            <label class="form-check-label" for="{{ form.published.id_for_label }}">{% trans 'Prova publicada' %}</label>
        </div>

        <!--<input id="quizSubmitForm" role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Desar' %}" /><br>-->
        <button id="quizSubmitForm" role="button" class="btn btn-success mt-2">{% trans 'Desar' %}</button>
        <br>
        {% if quiz.type == 0 %}
        <button type="button" id="add_question" title="{% trans 'Afegir pregunta amb múltiple resposta' %}" class="btn btn-info mt-2 mb-3"><img src="{% static 'main/icons/noun_List_648391.svg' %}" width="50px"><i class="fas fa-plus"></i></button>
        {% elif quiz.type == 1 %}
        <button type="button" id="add_question_link" title="{% trans 'Afegir pregunta amb link a document extern' %}" class="btn btn-info mt-2 mb-3"><img src="{% static 'main/icons/noun_link_2169256.svg' %}" width="50px"><i class="fas fa-plus"></i></button>
        {% elif quiz.type == 2 %}
        <button type="button" id="add_poll_question" title="{% trans 'Afegir pregunta d\'enquesta' %}" class="btn btn-info mt-2 mb-3"><img src="{% static 'main/icons/noun_poll_1644723.svg' %}" width="50px"><i class="fas fa-plus"></i></button>
        {% elif quiz.type == 3 %}
        <button type="button" id="add_fileupload_question" title="{% trans 'Afegir pregunta de pujada de fitxer' %}" class="btn btn-info mt-2 mb-3 {% if quiz.n_questions > 0 %}hidden{% endif %}"><img src="{% static 'main/icons/noun_upload script_691826.svg' %}" width="50px"><i class="fas fa-plus"></i></button>
        {% endif %}
    </form>
</div>

<div id="dialog-confirm">

</div>


{% if quiz.sorted_questions_set %}
<div class="container">
    <hr>
</div>
<div id="questions" class="container">
    {% for question in quiz.sorted_questions_set %}
    <div id="question_{{ question.id }}" class="mb-3">
        {% if question.doc_link %}
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p class="ord_{{ question.question_order }}"><strong>{{ question.question_order }}.</strong> <i>{{ question.text }}</i> <a title="{% trans 'Editar pregunta i respostes' %}" href="{% url 'question_link_update' question.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a> <button title="{% trans 'Eliminar pregunta' %}" id="{{ question.id }}" class="delete_button btn btn-danger"><i class="fas fa-backspace"></i></button> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ml-5">
                        <p class="ord_{{ question.question_order }}"><a href="{{ question.doc_link }}" target="_blank">{{ question.doc_link }}</a></p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div>
                        {% if quiz.is_poll %}
                        <p class="ord_{{ question.question_order }}"><strong>{{ question.question_order }}.</strong> <i>{{ question.text }}</i> <a title="{% trans 'Editar pregunta i respostes' %}" href="{% url 'question_poll_update' question.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a> <button title="{% trans 'Eliminar pregunta' %}" id="{{ question.id }}" class="delete_button btn btn-danger"><i class="fas fa-backspace"></i></button> </p>
                        {% elif quiz.is_upload %}
                        <p class="ord_{{ question.question_order }}"><strong>{{ question.question_order }}.</strong> <i>{{ question.text }}</i> <a title="{% trans 'Editar pregunta i respostes' %}" href="{% url 'question_upload_update' question.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a> <button title="{% trans 'Eliminar pregunta' %}" id="{{ question.id }}" class="delete_button btn btn-danger"><i class="fas fa-backspace"></i></button> </p>
                        {% else %}
                        <p class="ord_{{ question.question_order }}"><strong>{{ question.question_order }}.</strong> <i>{{ question.text }}</i> <a title="{% trans 'Editar pregunta i respostes' %}" href="{% url 'question_update' question.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a> <button title="{% trans 'Eliminar pregunta' %}" id="{{ question.id }}" class="delete_button btn btn-danger"><i class="fas fa-backspace"></i></button> </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% for answer in question.sorted_answers_set %}
            <div class="row">
                <div class="col-md-12">
                    <div class="ml-5">
                        {% if answer.is_correct %}
                            <p style="color:green;">{{ answer.label }}) {{ answer.text }} <i class="far fa-thumbs-up"></i></p>
                        {% else %}
                            <p>{{ answer.label }}) {{ answer.text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<div id="questions" class="container">
    <div class="row">
        <div class="col-md-12">
            <p>{% trans 'Aquesta prova encara no té contingut. El pots afegir fent servir el botó (+)' %}</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script>
    var quiz_id = '{{ quiz.id }}';
    var selected_req = '{{ selected_requisite }}';
    var suggested_new_order = '{{ new_order }}';
    var _question_new_url = '{% url 'question_new' %}';
    var _question_link_new_url  = '{% url 'question_link_new' %}';
    var _question_poll_new_url  = '{% url 'question_poll_new' %}';
    var _question_upload_new_url = '{% url 'question_upload_new' %}';
    var _question_delete_url = '{% url 'questions-list' %}';
    var _title_warning_dialog = "{% trans 'Confirmar acció' %}";
    var _message_warning_dialog = "{% trans 'Un cop hagis publicat la prova no la podràs modificar, estàs completament segur que vols continuar?' %}";
    var _aff_warning_dialog = "{% trans 'Si' %}";
    var _neg_warning_dialog = "{% trans 'No' %}";
</script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/cookies.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'main/javascript/quiz_edit.js' %}"></script>
<script src="{% static 'main/javascript/quiz_edit_warning.js' %}"></script>
{% endblock %}
