{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Crear prova' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_test_3271143.svg' %}"> {% trans 'Creant nova prova' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <form class="form" action="{% url 'quiz_new' %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        <div class="form-group mb-3">
            <label for="{{ form.name.id_for_label }}">{% trans 'Nom de la prova' %}:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="{{ form.html_header.id_for_label }}">{% trans 'Capçalera de la prova' %}:</label>
            {{ form.html_header }}
            {{ form.html_header.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="{{ form.type.id_for_label }}">{% trans 'Requisits per fer aquesta prova' %}:</label>
            {{ form.requisite }}
            {{ form.requisite.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="{{ form.type.id_for_label }}">{% trans 'Tipus de material' %}:</label>
            {{ form.type }}
            {{ form.type.errors }}
        </div>
        <input role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Desar' %}" />
    </form>
</div>

{% endblock %}
