{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block title %}{% trans 'Informes' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_report_3907422.svg' %}"> {% trans 'Informes' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <div class="form row alert alert-success">
        <div class="col-md-12"><h4>{% trans 'Enquestes per grup o centre' %}:</h4></div>
        <div class="col-md-12"><p>{% trans 'help_enquestes_group_centre' %}</p></div>
        <div class="col-md-3 form-group">
            <label for="select_poll_center">{% trans 'Enquesta' %}*:</label>
            <select class="form-control" id="select_poll">
                <option value="">...</option>
                {% for poll in polls %}
                <option value="{{ poll.id }}">{{ poll.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if not user.profile.is_teacher %}
        <div class="col-md-3 form-group">
            <label for="select_poll_center">{% trans 'Tria un centre' %}*:</label>
            <select class="form-control" id="select_poll_center">
                <option value="">...</option>
                {% for center in centers %}
                <option value="{{ center.id }}">{{ center.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="col-md-3 form-group">
            <label for="select_poll_group">{% trans 'Tria un grup' %}: <span id="loading_group" class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span> </label>
            {% if user.profile.is_teacher %}
                <select class="form-control" id="select_poll_group">
                    <option value="">{% trans 'Tots els grups' %}</option>
                    {% for group in my_groups %}
                        <option value="{{ group.id }}">{{ group.profile.group_public_name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <select class="form-control" id="select_poll_group"><option value="">...</option></select>
            {% endif %}
        </div>
        <div class="col-md-3 form-group">
            <label>&nbsp;</label>
            <button type="button" id="poll_group_class" class="form-control btn btn-primary">{% trans 'Generar informe' %} <i class="fas fa-bolt"></i></button>
        </div>
    </div>
    {% if user.profile.is_teacher %}
    <div class="form row alert alert-success">
        <div class="col-md-12"><h4>{% trans 'Enquestes per classe' %}:</h4></div>
        <div class="col-md-12"><p>{% trans 'help_enquestes_classe' %}</p></div>
        <div class="col-md-3 form-group">
            <label for="select_poll_center">{% trans 'Enquesta' %}*:</label>
            <select class="form-control" id="select_poll_2">
                <option value="">...</option>
                {% for poll in polls %}
                <option value="{{ poll.id }}">{{ poll.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="select_poll_group">{% trans 'Tria una classe' %}*: </label>
            <select class="form-control" id="select_poll_class">
                <option value="">...</option>
                {% for t in teacher_filters %}
                    <option value="{{ t.slug }}">{{ t.class }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>&nbsp;</label>
            <button type="button" id="poll_class" class="form-control btn btn-primary">{% trans 'Generar informe' %} <i class="fas fa-bolt"></i></button>
        </div>
    </div>
    {% endif %}
    {% if not user.profile.is_teacher %}
    <div class="form row alert alert-success">
        <div class="col-md-12"><h4>{% trans 'Enquestes de professorat per centre' %}:</h4></div>
        <div class="col-md-12"><p>{% trans 'help_enquestes_professorat_centre' %}</p></div>
        <div class="col-md-4 form-group">
            <label for="select_teacher_poll">{% trans 'Enquesta' %}*:</label>
            <select class="form-control" id="select_teacher_poll">
                <option value="">...</option>
                {% for poll in teacher_polls %}
                <option value="{{ poll.id }}">{{ poll.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5 form-group">
            <label for="select_teacher_poll_center">{% trans 'Tria un centre' %}*:</label>
            <select class="form-control" id="select_teacher_poll_center">
                <option value="">...</option>
                {% for center in centers %}
                <option value="{{ center.id }}">{{ center.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>&nbsp;</label>
            <button type="button" id="teacher_poll_group_class" class="form-control btn btn-primary">{% trans 'Generar informe' %} <i class="fas fa-bolt"></i></button>
        </div>
    </div>
    {% endif %}
    <div class="form row alert alert-success">
        <div class="col-md-12"><h4>{% trans 'Progrés de proves' %}:</h4></div>
        <div class="col-md-12"><p>{% trans 'help_test_progress' %}</p></div>
        {% if not user.profile.is_teacher %}
        <div class="col-md-3 form-group">
            <label for="select_progress_center">{% trans 'Tria un centre' %}*:</label>
            <select class="form-control" id="select_progress_center">
                <option value="">...</option>
                {% for center in centers %}
                <option value="{{ center.id }}">{{ center.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="col-md-3 form-group">
            <label>&nbsp;</label>
            <button type="button" id="progress_center" class="form-control btn btn-primary">{% trans 'Generar informe' %} <i class="fas fa-bolt"></i></button>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    {% get_current_language as LANGUAGE_CODE %}
</script>
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/cookies.js' %}"></script>
<script src="{% static 'main/javascript/reports.js' %}?v=1"></script>
<script>
    $('#languageSelector').change(function (){
            $(this).closest('form').submit();
        });
        {% get_current_language as LANGUAGE_CODE %}
        var currentLang = '{{ LANGUAGE_CODE }}';
        $("#languageSelector option[value='" + currentLang + "']").attr("selected","selected");

    var user_is_teacher = false;
    {% if user.profile.is_teacher %}
        user_is_teacher = true;
        var my_center = {{ user.profile.teacher_belongs_to.id }};
        var teacher_id = {{ user.id }};
    {% endif %}

</script>
{% endblock %}
