{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Crear professor{% endblock %}

{% block main_jumbo %}<img src="{% static 'main/icons/noun_Teacher_36665.svg' %}" width="10%">{% trans 'Creant nou usuari per mestre' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}

{% block main %}
<div class="container">
    <form class="form" action="{% url 'teacher_new' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input role="button" class="btn btn-success mt-2" type="submit" value="Desar" />
    </form>
</div>

{% endblock %}
