{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'main/leaflet/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'main/Leaflet.Draw.static/src/leaflet.draw.css' %}" rel="stylesheet">
<style>
    #map{
        height: 400px;
    }
</style>
{% endblock %}
{% block title %}{% trans 'Editar mestre' %}{% endblock %}

{% block main %}
<div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <h2><img src="{% static 'main/icons/noun_Teacher_36665.svg' %}" width="10%"> {% trans 'Editant mestre' %}:</h2>
    <form class="form" action="{% url 'teacher_update' teacher_id %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input role="button" class="btn btn-success mt-2" type="submit" value="{% trans 'Desar' %}" />
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script>
    var selected_center = -1;
    {% if belongs_to %} selected_center = {{ belongs_to.id }}; {% endif %}
</script>
<script src="{% static 'main/javascript/teacher_edit.js' %}"></script>
{% endblock %}