{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load imagekit %}
{% block title %}{% trans 'Resum dels arxius pujats' %}{% endblock %}

{% block main_jumbo %}<img class="img_icons" src="{% static 'main/icons/noun_solution_2998552.svg' %}"> {% trans 'Resum dels arxius pujats' %}{% endblock %}
{% block sub_jumbo %}{% endblock %}
{% block main %}
<div class="container">
    {% if teacher_filters %}
    <div class="row filter_row">
        <div class="col-md-2"> {% trans 'Filtre per classe' %}:  </div>
        <div class="col-md-2"> <a href="{% url 'upload_file_solutions' %}" class="btn class_filter {% if not current_slug %}btn-warning{% else %}btn-primary{%endif%}"> {% trans 'Sense filtre' %} </a>  </div>
        {% for filter in teacher_filters %}
        <div class="col-md-2"> <a href="{% url 'upload_file_solutions_class' filter.slug %}" class="btn class_filter {% if current_slug == filter.slug%}btn-warning{% else %}btn-primary{% endif %}"> {{ filter.class }} </a>  </div>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
    {% for quiz in grupos_profe %}
    <div class="row alert alert-success">
        <div class="col-md-6"><h2><span class="badge badge-info">{{ quiz.nomActivitat }}</span></h2></div>
        <div class="col-md-6" style="text-align:right;"><span>{% trans 'La prova ha estat pujada per' %} {{ quiz.realitzatPer }} {% trans 'grups' %}</span></div>
    </div>

    <div class="row alert alert-success ml-5">

        <table id="materials" style="width:100%;">
            <tr style="text-align: center;">
                <th></th>
                <th>{% trans 'Centre' %}</th>
                <th>{% trans 'Grup' %}</th>
                <th>{% trans 'Classe' %}</th>
                <th>{% trans 'Arxiu pujat' %}</th>
                <th>{% trans 'Link a l&#39;arxiu' %}</th>
                <th>{% trans 'Data pujada arxiu' %}</th>
                {% if user.is_superuser %}
                <th>{% trans 'Eliminar material' %}</th>
                {% endif %}
            </tr>
            {% for quizrun in quiz.grupos %}
                <tr style="text-align: center;">
                    <td>
                        <img src="{{ quizrun.imagenGrupo }}">
                    </td>
                    <td>{{ quizrun.centro }}</td>
                    <td>{{ quizrun.nombreGrupo }}</td>
                    <td>{{ quizrun.clase }}</td>
                    {% if quizrun.uploadedFileFlag %}
                        <td><i class="fas fa-check" style="color: green;"></i></td>
                    {% else %}
                        <td><i class="fas fa-times" style="color: red;"></i></td>
                    {% endif %}
                    {% if quizrun.linkFile %}
                        <td><a href="{{ quizrun.linkFile.url }}">{% trans 'Verue arxiu' %}</a></td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                    {% if quizrun.uploadDate %}
                        <td>{{ quizrun.uploadDate }}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                    {% if user.is_superuser  %}
                        {% if quizrun.uploadedFileFlag %}
                        <td><button data-quizrun-id="{{ quizrun.quizrun.id }}" title="{% trans 'Eliminar material' %}" class="delete_button btn btn-danger"><i class="fas fa-backspace"></i></button></td>
                        {% else %}
                        <td> - </td>
                        {% endif %}
                    {% else %}
                        <td> - </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'main/csrf_utils.js' %}"></script>
<script src="{% static 'main/cookies.js' %}"></script>
<script src="{% static 'main/toastr/toastr.js' %}"></script>
<script src="{% static 'main/javascript/upload_file_solutions.js' %}"></script>
{% endblock %}
