.img_icons{
    width: 100px;
    height: 100px;
}

.nav-item a{
    font-size: 0.9em !important;
    }
.nav-item li{
    padding-right:5px;
   }
.nav button{
    font-size: 0.9em !important;
}

.nav-item img{
    max-height: 60px;
    max-width: 60px;
    margin-right: 2px;
}

.languageSelector{
    font-size: 0.9em !important;
}

.dropbtn{
    font-size: 0.9em !important;
}

.test_container{
    display: flex;
    flex-wrap: wrap;
}

.card_test {
    width: 200px;
    margin: 10px;
    font-size: 14px;
    border: solid 2px grey;
}

.card_test_readonly {
    width: 100px;
    margin: 5px;
    font-size: 10px;
    border: solid 2px grey;
}

.test_button_container{
    display: flex;
}

.result_wrapper{
    margin: 2px;
}

.test_button_wrapper{
    margin: 2px;
}

.card.card_test.done {
    background-color: green;
}

.card.card_test.available {
    background-color: white;
}

.card.card_test.in_progress {
    background-color: orange;
}

.card.card_test.blocked {
    background-color: grey;
}

.card.card_test_readonly.accent {
    background-color: white;
    border: solid 2px green;
}

.card.card_test_readonly.faded {
    margin-top: 5px;
    background-color: grey;
    color: #343a40bf;
}

.compact {
    padding: 6px;
}

.subjumbo {
    font-size: 18px;
}

.campanya {
    color: orange !important;
}

.filter_row {
    margin: 10px;
}

.class_filter {
    margin: 2px;
}

.yes_visited {
    background-color: lightseagreen;
}

.no_visited {
    background-color: gold;
}

.center_filter {
    margin: 2px;
}

.center_row {
    margin: 5px;
    background: grey;
    font-weight: bold;
}

.run_row {
    margin: 5px;
    background: azure;
}

.username_cell {
    padding: 5px;
}

.comments_cell {
    padding: 5px;
    background: aliceblue;
}

.date_cell {
    padding: 5px;
}

.help-block {
    color: red;
}
